.grid {
  border: solid 2px slateblue;
}

.grid-row{
  display: flex;
  flex-direction: column;
}

.cell {
  flex: 1;
  padding: 10px;
  border: solid 2px slateblue;
}

@media all and (min-width: 480px) {
  .grid-row-sm {
    flex-direction: row;
  }
}

@media all and (min-width: 720px){
  .grid-row-md {
    flex-direction: row;
  }
}

@media all and (min-width: 960px) {
  .grid-row-lg {
    flex-direction: row;
  }
}

.box-model {
  background-color: lightgrey;
  width: 300px;
  padding: 25px;
  border: 25px solid green;
  margin:25px;
}