body {
  font-family: 'Arsenal', sans-serif;
  /*background-image:url('../images/jamJars.jpg'); 
  background-size:cover;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pacifico', cursive;
}

.flex {
  display: flex;
  flex-direction: row;

}

.flex-50{
  width:50%;
  align-content: right;
  background-color: lightGrey;
}


.alternate{
  background-color: white;
}

img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

table, td, th {
  border: 1px solid blue;
}

td, th {
  padding: 10px;
  text-align: center;
}

table {
  width: 100%;
  height: auto;
}

table tr:nth-child(even){
  background-color: green;
}